<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669765466843-uov7ndn5i3a14cuad99qjbbnu8jairc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669765466843-uov7ndn5i3a14cuad99qjbbnu8jairc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBs8SVLA2jkq0To3vKaD0MYy3FvmLq6EcU</string>
	<key>GCM_SENDER_ID</key>
	<string>669765466843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pfriedrix.Bike-Trekr</string>
	<key>PROJECT_ID</key>
	<string>bike-trekr</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-trekr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669765466843:ios:e8e30df9ae0e34fa91aafe</string>
</dict>
</plist>